


    <style>
        body{
            background-image: url("/pokemonbackgrounds/pikachu_background.png");
            background-size: 100%;
            background-repeat: no-repeat;
        
        }

        h3{
            color: black;
        }

        .text-align-container {
        text-align: center;
        margin-left: auto;
        opacity: 100%;
        width: 300px;
        height: 50px;
        length: 100px;

  }

  .moveimage
{
    position: relative;
    top: 100px;
}


    </style>
    
    
    
    

    <div class="text-align-container">

    <img class= "moveimage" src=<%= @pokemon.big_img %> alt="Picture goes here">
        <br>
        <br>
        <br>
        <h3>My name is <%= @pokemon.name %> </h3>
        

        <h3> These are my type(s): <%= @pokemon.poke_type%> </h3>
        
        <h3> My favorite move is: <%= @pokemon.attack%></h3>
        
        <h3> <%= @pokemon.poke_phrase%></h3>

        <%= button_to "Pokedex", pokemons_path, method: :get %>
    </div>






