
<%= form_for @trainer do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label "Pick your Starter Pokemon" %>

    <%# # <%=f.collection_select :pokemon_ids, Pokemon.all, :id, :name %>  
    <%= f.collection_radio_buttons :pokemon_ids, Pokemon.starters, :id, :name %> 
    
    <ul class="move_sprite"><% Pokemon.starters.each do |starter|%>
        <li class="starter_sprite_form"><img src=<%= starter.sprite %>></li>
        <%end%>
    </ul>

    <%= f.submit %>

<% end %>

